@import "tailwindcss";

@theme {
  --color-primary: #A78BFA;
  --color-primary-dark: #8B5CF6;
  --color-secondary: #9F7AEA;
}

@layer base {
  body {
    font-variant-ligatures: common-ligatures;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .primary-btn {
    @apply w-full px-4 md:px-6 py-2 md:py-3 bg-yellow-300 text-[#673ab7] rounded-lg md:rounded-xl border-3 border-yellow-400 font-bold text-2xl shadow-lg shadow-yellow-400/50 hover:bg-yellow-300 hover:border-yellow-400 hover:shadow-xl hover:shadow-yellow-400/70 transition-all duration-300 active:scale-95 inline-block text-center;
  }
}
