name: Test CI

defaults:
  run:
    working-directory: .

on:
  push:
    branches: [main]

  pull_request:
    branches: [main]

permissions:
  contents: read # Allows reading repo contents

jobs:
  # Lint check
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup node environment
        uses: ./.github/actions/setup-node-env

      - name: Build
        run: pnpm build

      - name: Lint
        run: pnpm lint
